*.pyc
*.pyo
__pycache__/

.vscode/
.idea/

venv/
env/
ENV/
*.env

.DS_Store

*.log
*.tox/
*.coverage
*.hypothesis/

db.sqlite3

pip-wheel-metadata/

.python-version

*.env

.ipynb_checkpoints/

*.bak
*.swp
